
/.idea/
.DS_Store
data/.DS_Store
dataloaders/__pycache__/
models/__pycache__/
trainers/__pycache__/
/.idea/workspace.xml
/.idea/vcs.xml
/.idea/other.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/HIP-PROJECT.iml
/.idea/deployment.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/inspectionProfiles/
/.idea/dictionaries/
/.idea/dictionaries/imad.xml
